@model Lab_Asssignment._1.Models.Prd_Details

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Website/Admin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Prd_Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.w8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.w8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.qty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.qty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price_current)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price_current)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prd_Colour.img_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prd_Colour.img_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.prd_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.prd_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
