@model IEnumerable<Lab_Asssignment._1.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Website/Admin.cshtml";
}

<h4>Products</h4>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.prd_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prd_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.prd_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prd_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.prd_ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.prd_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.prd_ID })
        </td>
    </tr>
}

</table>
